<div id="addItem">
	<h3>Add Item</h3>
	<%= form_for :item, :url => items_path, :remote => true do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />
	<%= f.label :quantity %>
	<%= f.text_field :quantity %>
	<br />
	<%= f.label "(Optional)" %>
	<br />
	<%= f.label :expiration_date %>
	<%= f.date_select :expiration_date %>
	<br />
	<%= f.submit raw "Add &#8594;" %>
	<% end %>
</div>