<label class="fridgeLabel" id="fridgeLabel2"><%= @fridge.name %></label>

<div id="headTableDiv">
	<table id="catHeadTable">
		<tr>
			<th id="catName">Name</th>
			<th id="catQty">Qty</th>
			<th id="catExp">Expiration<br />Date</th>
			<th id="catOpt">Options</th>
		</tr>
	</table>
</div>

<div id="contentTableDiv">
	<table id="contentTable">
		<% @fridge.items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.quantity %></td>
			<td><%= item.expiration_date %></td>
			<td>
				<%= button_to "+1", increment_item_path(item), :method => 'put', :remote => true %>
				<%= button_to "-1", decrement_item_path(item), :method => 'put', :remote => true %>
				<%= button_to "Remove", :method => 'delete' %>
			</td>
		</tr>
		<% end %>
	</table>
</div>