<h1>Welcome to Fridge File</h1>
<h3>Family Fridge Managment System</h3>

<% if signed_in? %>
<h1>Hello <%= @user.name %></h1>
	<p>
	If you're new <%= render 'layouts/fridge_creation_form' %>
	<%= render 'layouts/fridge_display/fridge_selector' %>
	</p>
<% else %>
<h2>Sign In!</h2>
<%= render 'layouts/sign_in_form' %>
<hr />
<h2>Quick Sign-Up:</h2>
<%= render 'layouts/sign_up_form' %>
<% end %>
